<p style="color: green"><%= notice %></p>

<%= render @add_user_to_inventory %>

<div>
  <%= link_to "Edit this add user to inventory", edit_add_user_to_inventory_path(@add_user_to_inventory) %> |
  <%= link_to "Back to add user to inventories", add_user_to_inventories_path %>

  <%= button_to "Destroy this add user to inventory", @add_user_to_inventory, method: :delete %>
</div>
