<%= form_with(model: add_food_to_inventory_food) do |form| %>
  <% if add_food_to_inventory_food.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(add_food_to_inventory_food.errors.count, "error") %> prohibited this add_food_to_inventory_food from being saved:</h2>

      <ul>
        <% add_food_to_inventory_food.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :food_id_id, style: "display: block" %>
    <%= form.text_field :food_id_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
