<p style="color: green"><%= notice %></p>

<%= render @add_food_to_inventory_food %>

<div>
  <%= link_to "Edit this add food to inventory food", edit_add_food_to_inventory_food_path(@add_food_to_inventory_food) %> |
  <%= link_to "Back to add food to inventory foods", add_food_to_inventory_foods_path %>

  <%= button_to "Destroy this add food to inventory food", @add_food_to_inventory_food, method: :delete %>
</div>
