<p style="color: green"><%= notice %></p>

<%= render @add_inventory_to_inventory_food %>

<div>
  <%= link_to "Edit this add inventory to inventory food", edit_add_inventory_to_inventory_food_path(@add_inventory_to_inventory_food) %> |
  <%= link_to "Back to add inventory to inventory foods", add_inventory_to_inventory_foods_path %>

  <%= button_to "Destroy this add inventory to inventory food", @add_inventory_to_inventory_food, method: :delete %>
</div>
